<!doctype html>
<html lang="en">
<head>
    @model ENTIDAD.Inmueble_E

    @{
        ViewBag.Title = "AgregarInmueble";
        Layout = "~/Views/Layout/_LayoutNavbar.cshtml";

        var listaTiposPropiedades = ViewBag.ListadoTiposPropiedades;
        var listaLocalidades = ViewBag.ListadoLocalidades;
    }

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link href="~/Css/Formulario.css" rel="stylesheet" />
    <script src="~/Js/Validaciones.js"></script>
</head>
    <body>

        <h2>Nuevo Alquiler</h2>

        <table id="formulario">
            @using (Html.BeginForm("InsertarInmueble", "Inmueble", FormMethod.Post))
            {
                <tr>
                    <td>TIPO: </td>
                    <td>
                        <select name="cboTipoPropiedad" class="form-control">
                            @foreach (var item in listaTiposPropiedades)
                            {
                                <option value="@item.Id_Tipo_Propiedad">@item.Dc_Tipo_Propiedad</option>
                            }
                        </select>
                    </td>
                </tr>

                <!--
        <tr>
            <td><input type="hidden" name="estado" value="@ENTIDAD.TipoPropiedad_E.TipoOperacion.Alquiler" /></td>
        </tr>
        -->

                <tr>
                    <td><input type="hidden" name="es_venta" value="false" /></td>
                </tr>

                <tr>
                    <td>IMPORTE: </td>
                    <td><input type="number" id="importe" min="0" class="form-control" name="importe" /></td>
                </tr>

                <tr>
                    <td>SUPERFICIE: </td>
                    <td><input type="number" id="superficie" min="0" class="form-control" name="superficie" /></td>
                </tr>

                <tr>
                    <td>CALLE: </td>
                    <td><input type="text" id="calle" maxlength="10" class="form-control" name="calle" /></td>
                </tr>

                <tr>
                    <td>ALTURA: </td>
                    <td><input type="number" id="altura" max="9999" class="form-control" name="altura" /></td>
                </tr>

                <tr>
                    <td>LOCALIDAD: </td>
                    <td>
                        <select name="cboLocalidad" class="form-control">
                            @foreach (var item in listaLocalidades)
                            {
                                <option value="@item.Id_Localidad">@item.Dc_Localidad</option>
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>DESCRIPCION: </td>
                    <td><input type="text" id="descripcion" maxlength="1000" rows="5" width="200" class="form-control" name="descripcion" /></td>
                </tr>

                <!--
        <tr>
            <td><input type="hidden" name="estado" value="@ENTIDAD.Estado_E.Estado.Publicado" /></td>
        </tr>
        -->

                <tr>
                    <td><input type="hidden" name="estado" value="1" /></td>
                </tr>

                <tr>
                    <td>AMBIENTES: </td>
                    <td><input type="number" id="ambientes" min="0" max="10" class="form-control" name="cantAmbientes" /></td>
                </tr>

                <tr>
                    <td>PISO: </td>
                    <td><input type="text" maxlength="2" class="form-control" id="piso" name="piso" /></td>
                </tr>

                <tr>
                    <td>DEPTO: </td>
                    <td><input type="text" id="depto" maxlength="1" class="form-control" name="depto" /></td>
                </tr>

                <tr>
                    <td><input type="hidden" name="aptoCredito" value="false" /></td>
                </tr>

                <tr>
                    <td><button type="submit" id="btnActualizar" class="btn btn-primary" />Agregar</td>
                </tr>

            }
        </table>

    </body>
</html>