<!doctype html>
<html lang="en">
<head>
    @model ENTIDAD.Inmueble_E

    @{
        ViewBag.Title = "EditarInmueble";
        Layout = "~/Views/Layout/_LayoutNavbar.cshtml";

        var listaTiposPropiedades = ViewBag.ListadoTiposPropiedades;
        var listaLocalidades = ViewBag.ListadoLocalidades;
        var listaEstados = ViewBag.ListadoEstados;
    }

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link href="~/Css/Formulario.css" rel="stylesheet" />
    <script src="~/Js/Validaciones.js"></script>

</head>
<body>
    <h2>Modificar Alquiler</h2>

    <table id="formulario">
        @using (Html.BeginForm("ActualizarInmueble", "Inmueble", FormMethod.Post))
        {
            <tr>
                <td>ID: </td>
                <td><input type="number" id="id" class="form-control" readonly name="idInmueble" value="@Model.Id_Inmueble" /></td>
            </tr>

            <tr>
                <td>TIPO: </td>
                <td>
                    <select name="cboTipoPropiedad" class="form-control" required>
                        @foreach (var item in listaTiposPropiedades)
                        {
                            <option value="@item.Id_Tipo_Propiedad">@item.Dc_Tipo_Propiedad</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td><input type="hidden" name="es_venta" value="@Model.Es_Venta" /></td>
            </tr>

            <tr>
                <td>IMPORTE: </td>
                <td><input type="number" min="0" class="form-control" name="importe" value="@Model.Importe" required/></td>
            </tr>

            <tr>
                <td>SUPERICIE: </td>
                <td><input type="number" min="0" class="form-control" name="superficie" value="@Model.Superficie" required/></td>
            </tr>

            <tr>
                <td>CALLE: </td>
                <td><input type="text" maxlength="10" class="form-control" name="calle" value="@Model.Calle" required/></td>
            </tr>

            <tr>
                <td>ALTURA: </td>
                <td><input type="number" max="9999" class="form-control" name="altura" value="@Model.Altura" required/></td>
            </tr>

            <tr>
                <td>LOCALIDAD: </td>
                <td>
                    <select name="cboLocalidad" class="form-control" required>
                        @foreach (var item in listaLocalidades)
                        {
                            <option value="@item.Id_Localidad">@item.Dc_Localidad</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>DESCRIPCION: </td>
                <td><input type="text" maxlength="1000" rows="5" width="200" class="form-control" name="descripcion" value="@Model.Descripcion" required/></td>
            </tr>

            <tr>
                <td>ESTADO: </td>
                <td>
                    <select name="cboEstado" class="form-control" required>
                        @foreach (var item in listaEstados)
                        {
                            <option value="@item.Id_Estado">@item.Dc_Estado</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>AMBIENTES: </td>
                <td><input type="number" min="0" max="10" class="form-control" name="cantAmbientes" value="@Model.Cant_Ambientes" required/></td>
            </tr>

            <tr>
                <td>PISO: </td>
                <td><input type="text" maxlength="2" class="form-control" name="piso" value="@Model.Piso" required /></td>
            </tr>

            <tr>
                <td>DEPTO: </td>
                <td><input type="text" maxlength="1" class="form-control" name="depto" value="@Model.Depto" required/></td>
            </tr>

            <tr>
                <td><button type="submit" id="btnActualizar" class="btn btn-primary" onsubmit="return validar();" />Actualizar</td>
            </tr>

        }
    </table>

</body>
</html>
